	 <footer class="footer text-center">
        <div class="container">
            <small>© Copyright 2016. Crafted with love by <a href="https://www.twitter.com/sobinsunny">@sobinsunny</a></small>
        </div>
  </footer>