 <nav class="navbar navbar-inverse navbar-fixed-top">
 	<div class="container">
 		<!-- Brand and toggle get grouped for better mobile display -->
 		<div class="navbar-header">
 			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
 				<span class="sr-only">Toggle navigation</span>
 				<span class="icon-bar"></span>
 				<span class="icon-bar"></span>
 				<span class="icon-bar"></span>
 			</button>
 			<a class="navbar-brand text-uppercase" href="#"> Bloggy Man</a>
 		</div>

 		<!-- Collect the nav links, forms, and other content for toggling -->
 		<div class="collapse navbar-collapse" id="navigation">
 			<ul class="nav navbar-nav navbar-right">
 				<%if user_signed?%>
 					<li><%= link_to "Log out",logout_path,:method=>"delete" %></li>
 				<%else%>
 				 	<li><%= link_to "Sign up",new_user_path %></li>
 					<li><button type="button" class="btn btn-success navbar-btn btn-circle"><%=link_to "Sign in",login_path%></button></li>
 				<%end%>

 			</ul>
 		</div>
 	</div>
 </nav>